PORT=4000
NODE_ENV=development

# SQL Server connection
DB_HOST=
DB_PORT=1433
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=false
DB_TRUST_CERT=true

CLIENT_ORIGIN=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=7d

MAX_FILE_SIZE_MB=25

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=
EMAIL_TO=
